.myc-corner {
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 16px;
    pointer-events: none;
}

.myc-corner-tl {
    top: -1px;
    left: -1px;
    border-top: 2px solid var(--link);
    border-left: 2px solid var(--link);
}

.myc-corner-br {
    right: -1px;
    bottom: -1px;
    border-right: 2px solid var(--link);
    border-bottom: 2px solid var(--link);
}
