@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    font-stretch: 62% 125%;
    src: url("/fonts/archivo-latin-var.woff2") format("woff2-variations"),
        url("/fonts/archivo-latin-var.woff2") format("woff2");
    unicode-range: U+0020-007E, U+00A0-00A1, U+00A9, U+00AB, U+00B7, U+00BB, U+00BF, U+00C1, U+00C9, U+00CD, U+00D1, U+00D3, U+00DA, U+00DC, U+00D7, U+00E1, U+00E9, U+00ED, U+00F1, U+00F3, U+00FA, U+00FC, U+2013-2014, U+2018-2019, U+201C-201D, U+2022, U+2026, U+20AC, U+2122, U+2190-2193, U+2212;
}

@font-face {
    font-family: "Archivo";
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    font-stretch: 62% 125%;
    src: url("/fonts/jetbrains-mono-latin-var.woff2") format("woff2-variations"),
        url("/fonts/jetbrains-mono-latin-var.woff2") format("woff2");
    unicode-range: U+2196-2199, U+2318, U+25B2, U+25C6, U+2713, U+2715;
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-display: swap;
    font-weight: 100 800;
    src: url("/fonts/jetbrains-mono-latin-var.woff2") format("woff2-variations"),
        url("/fonts/jetbrains-mono-latin-var.woff2") format("woff2");
    unicode-range: U+0020-007E, U+00A0-00A1, U+00A9, U+00AB, U+00B7, U+00BB, U+00BF, U+00C1, U+00C9, U+00CD, U+00D1, U+00D3, U+00DA, U+00DC, U+00D7, U+00E1, U+00E9, U+00ED, U+00F1, U+00F3, U+00FA, U+00FC, U+2013-2014, U+2018-2019, U+201C-201D, U+2022, U+2026, U+20AC, U+2122, U+2190-2193, U+2212, U+2196-2199, U+2318, U+25B2, U+25C6, U+2713, U+2715;
}
